<div class="bg-secondary text-dark text-opacity-75 container-auto w-100 px-4 py-2 card mb-4 rounded-3 border border-2 border-warning"  style="--bs-bg-opacity: .1">
  <header>
    <div class="d-flex flex-column border-bottom lh-1">
      <p class="text-end fst-italic opacity-75">{{ ticket.time_created }}</p>

      <p class="mx-3">{{ ticket.user }} a demandé une critique.</p>

    </div>
  </header>
  <section>
    <div class="d-flex flex-row align-items-start">
    {% if ticket.image %}
      <p><img src="{{ticket.image.url}}" alt="Couverture correspondant à {{ticket.title}}" class="img-fluid max-width: 25% img-thumbnail my-2"/></p>
    {% endif %}

      <div class="d-flex flex-column justify-content-end mx-3 text-wrap">
        <h3 class="fs-5 text-end mx-3 my-2">{{ ticket.title }}</h3>

          <p>{{ ticket.description }}</p>
      </div>
    </div>
  </section>
</div>
