{% extends "base_rev.html" %}

{% block title %}LITReview - Editer une critique{% endblock title %}

{% block content %}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container my-2 w-50">
      <p class="mx-5 fst-italic">Editer votre critique en réponse à</p>
      {% include './includes/ticket_answered.html' with ticket=original.ticket %}
    </div>

      {% include './includes/review_form.html' with review_form=form %}

</section>

{% endblock content %}
